version: 2.1
orbs:
  snyk: snyk/snyk@2.3.0

jobs:
  build_test:
    docker:
      - image: cimg/python:3.12.2
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: pip install --no-cache-dir -r requirements.txt
      - snyk/scan   # runs Snyk dependency scan

workflows:
  build_test_deploy:
    jobs:
      - build_test
